Código Desenvolvido/flows.json
[{"id":"fa8b019a.ce25b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2a5776af.fb561a","type":"debug","z":"fa8b019a.ce25b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":260,"wires":[]},{"id":"e3527588.dea488","type":"json","z":"fa8b019a.ce25b","name":"","property":"payload","action":"","pretty":false,"x":480,"y":400,"wires":[["70696b3d.4c9be4","341e031c.a528bc"]]},{"id":"70696b3d.4c9be4","type":"debug","z":"fa8b019a.ce25b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":400,"wires":[]},{"id":"29211e55.abd6a2","type":"ui_gauge","z":"fa8b019a.ce25b","name":"","group":"bf7f9783.bcb8b8","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":640,"wires":[]},{"id":"341e031c.a528bc","type":"function","z":"fa8b019a.ce25b","name":"Temp º","func":"msg.payload = msg.payload.temperatura_c;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":560,"wires":[["12b0a9eb.2e97f6","29211e55.abd6a2","c6879fdd.18aa1"]]},{"id":"12b0a9eb.2e97f6","type":"debug","z":"fa8b019a.ce25b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":560,"wires":[]},{"id":"29e555cd.f8310a","type":"arduino out","z":"fa8b019a.ce25b","name":"","pin":"10","state":"OUTPUT","arduino":"97b16e7d.c04dc","x":640,"y":1120,"wires":[]},{"id":"b941bafd.7b1cd8","type":"arduino in","z":"fa8b019a.ce25b","name":"","pin":"","state":"STRING","arduino":"97b16e7d.c04dc","x":200,"y":260,"wires":[["2a5776af.fb561a","e3527588.dea488"]]},{"id":"c6879fdd.18aa1","type":"mqtt out","z":"fa8b019a.ce25b","name":"","topic":"Temp","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"105c5f95.4a848","x":890,"y":700,"wires":[]},{"id":"fc81d9b7.456d48","type":"mqtt in","z":"fa8b019a.ce25b","name":"","topic":"Temp","qos":"2","datatype":"auto","broker":"105c5f95.4a848","nl":false,"rap":true,"rh":0,"x":340,"y":780,"wires":[["7aab13ca.3a35fc"]]},{"id":"f0bf8291.e34f5","type":"mqtt out","z":"fa8b019a.ce25b","name":"","topic":"Rele","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"105c5f95.4a848","x":650,"y":1040,"wires":[]},{"id":"d5ce3cfe.b494b","type":"mqtt in","z":"fa8b019a.ce25b","name":"","topic":"Rele","qos":"2","datatype":"auto","broker":"105c5f95.4a848","nl":false,"rap":true,"rh":0,"x":330,"y":1120,"wires":[["29e555cd.f8310a","89785c3c.28864"]]},{"id":"7aab13ca.3a35fc","type":"function","z":"fa8b019a.ce25b","name":"Controller","func":"if(msg.payload>=20) msg.payload=0;\nelse msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":860,"wires":[["be580da9.2eefd","f0bf8291.e34f5"]]},{"id":"be580da9.2eefd","type":"debug","z":"fa8b019a.ce25b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":860,"wires":[]},{"id":"89785c3c.28864","type":"debug","z":"fa8b019a.ce25b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":1220,"wires":[]},{"id":"bf7f9783.bcb8b8","type":"ui_group","name":"Relé","tab":"7fff7a9e.d9d7d4","order":1,"disp":true,"width":"6","collapse":false},{"id":"97b16e7d.c04dc","type":"arduino-board","device":"COM3"},{"id":"105c5f95.4a848","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"3","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"7fff7a9e.d9d7d4","type":"ui_tab","name":"Rele","icon":"dashboard","disabled":false,"hidden":false}]